# file that will never be uploaded
/chapter10_reading-and-writing-files/spam.txt
.env


# WIP files
#chapter12_design-and-deploy-cmd-line-programs
chapter13_web-scraping
chapter14_excel
chapter21_graphs-and-imgs
